body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react {
  background: aqua;
  color: black;
  font-size: 48px;
  font-weight: bold;
  padding: 16px;
}

.SassComponent .box {
  background: red;
}
.SassComponent .box .inner {
  color: blue;
}
.box + .box {
  margin-left: 10px;
}

/* .SassComponent {
  .box {
    background: red;
    .inner {
      color: blue;
    }
    & + & {
      margin-left: 10px;
    }
    &:hover{
      background: blue;
    }
  }
} */
